@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  padding: 20px;
  background-color: rgb(25, 92, 192);
  color: white;
}
header h1 {
  font-size: 4.5vh;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding: 0;
}
header h2 {
  font-size: 2.5vh;
  margin-bottom: 15px;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
main form {
  margin: 20px 0;
}
main form label {
  font-size: 1.5vh;
}
main form input[type=text] {
  width: 100%;
  height: 35px;
  padding: 5px;
  margin: 10px 0;
}
main form input[type=radio] {
  margin: 10px 0;
  color: rgb(25, 92, 192);
}
main form input[type=submit] {
  padding: 10px;
  margin: 15px 0;
  cursor: pointer;
  border: none;
  background-color: rgb(25, 92, 192);
  color: white;
  border: 1px solid white;
}
main form input[type=submit]:hover {
  background-color: white;
  color: rgb(25, 92, 192);
  border: 1px solid rgb(25, 92, 192);
}
main form ul {
  margin: 10px;
}
main article {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
main article h3, main article h4, main article p {
  width: 100%;
  text-align: center;
}
main article h3 {
  font-size: 2.7vh;
}
main article .city-img {
  width: 100%;
  margin: 10px 0;
}
main article section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
main article section .weather__day {
  background-color: green;
  text-align: center;
  color: white;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}
main article section .weather__content {
  display: none;
  width: 100%;
  background-color: lightgray;
}
main article section .weather__content .weather__informations {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 10px 0 30px 0;
}

.toggleVisibility {
  display: block !important;
}/*# sourceMappingURL=style.css.map */